html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.ghost {
  position: absolute;
  left: -100%;
}

.framed {
  position: absolute;
  top: 50%; left: 50%;
  width: 15rem;
  margin-left: -7.5rem;
}

.logo {
  margin-top: -9em;
  cursor: default;
}

.form {
  margin-top: -4.5em;
  transition: 1s ease-in-out;
}

.input {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-size: 1.125rem;
  line-height: 3rem;
  width: 100%; height: 3rem;
  color: #444;
  background-color: rgba(255,255,255,0.8);
  border: 0;
  border-top: 1px solid rgba(255,255,255,0.3);
  padding: 0 1rem;
}
  .input:focus {
    outline: none;
  }
  .input--top {
    border-radius: 0.5rem 0.5rem 0 0;
    border-top: 0;
  }
  .input--submit {
    background-color: rgba(92,168,214,0.9);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-top: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    margin-bottom: 1rem;
  }

.text {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  text-decoration: none;
}
  .text--small {
    opacity: 0.85;
    font-size: 0.75rem;
    cursor: pointer;
  }
    .text--small:hover {
      opacity: 1;
    }
  .text--omega {
    width: 200%;
    margin: 0 0 1rem -50%;
    font-size: 1.5rem;
    line-height: 1.125;
    font-weight: normal;
  }
  .text--centered {
    display: block;
    text-align: center;
  }
  .text--border-right {
    
    margin-right: 0.75rem;
    padding-right: 0.75rem;
  }

.legal {
  position: absolute;
  bottom: 1.125rem; left: 1.125rem;
}

.photo-cred {
  position: absolute;
  right: 1.125rem; bottom: 1.125rem;
}

.fullscreen-bg {
  position: fixed;
  z-index: -1;
  top:0; right:0; bottom:0; left:0;
  background-size: cover;
  width:100%;
  height:100%;
}

#toggle--login:checked ~ .form--signup { left:200%; visibility:hidden; }
#toggle--signup:checked ~ .form--login { left:-100%; visibility:hidden; }

@media (height:300px){.legal,.photo-cred{display:none}}

#mySidenav a {
    position: absolute;
    left: -100px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 20px;
    background-color: #4CAF50;
}

#blog {
    top: 80px;
    background-color: #2196F3;
}

#projects {
    top: 140px;
    background-color: #f44336;
}

#contact {
    top: 200px;
    background-color: #555
}
.legal a img{
	width: 32px;

}

.slider {
    color: #00FF00;
    font-size: 42px;
    font-family: bold;
}

.image_left {
    max-width: 100%;
    border-radius: 50px;
    width: 114px;
    height: 105px;
    margin-top: 20px;
    margin-left:  65px;
}

.image_right {
    max-width: 100%;
    border-radius: 50px;
    /* display: block; */
    width: 105px;
	height: 95px;
  margin-left: 45px;
    
}
.image_out {
    max-width: 100%;
    border-radius: 50px;
    /* display: block; */
    width: 105px;
	height: 95px;
    float: right;
	margin-right: 40px;
 
    
}




	.image_left:hover {  
	box-shadow: 0px 0px 150px #00FA9A;
    z-index: 2;
    -webkit-transform: scale(1.1);
   
  	}
  	
  	
  	.image_right:hover {  
	box-shadow: 0px 0px 150px #00FA9A;
    z-index: 2;
    -webkit-transform: scale(1.1);
   
  	}
  	
  	.image_out:hover {  
	box-shadow: 0px 0px 150px #00FA9A;
    z-index: 2;
    -webkit-transform: scale(1.1);
   
  	}
	.icon:hover {  
	box-shadow: 0px 0px 150px #00FA9A;
    z-index: 2;
    -webkit-transform: scale(1.1);
   
  	}
  	